.formulario-container {
    border: 2px solid #220303; /* Borda da caixa */
    padding: 10px 10px; /* Espaçamento interno */
    width: 300px; /* Largura da caixa */
    margin:0; /* Centraliza a caixa horizontalmente */
    background-color: #976767; /* Cor de fundo da caixa */
}
